<div id="content">
    <!-- <app-home></app-home>-->
<!-- <app-admin-singup></app-admin-singup> -->
<!-- <app-loginadmin></app-loginadmin> -->
<!-- <app-hotel-list></app-hotel-list> -->
<a [routerLink]="['/']"></a>
<router-outlet></router-outlet>
<!-- <app-adminhome></app-adminhome> -->
<!-- <app-adminlist></app-adminlist> -->
<!-- <app-add-hotel-component></app-add-hotel-component> -->
<!-- <app-add-room-component></app-add-room-component> -->
<!-- <app-alluser></app-alluser> -->
<!-- <app-allbooking></app-allbooking> -->
<!-- <app-allbookingbyuser></app-allbookingbyuser> -->
<!-- <app-bookingfinal></app-bookingfinal> -->
<!-- <app-userfeedback></app-userfeedback> -->
</div>
  
<div id="size-warning" style="display: none">
    <p>This site is only visible for devices with screen widths between 1024px and 1440px.</p>
</div>
  