<section class="vh-100 bg-image">
    <div class="form_div">
      <div class="close">
        <button type="button" class="btn-close" aria-label="Close" [routerLink]="['/']"></button>
    </div>
      <h4 class="text-uppercase text-center">Enter Authentication Password</h4>
    <form>
      @if (!submitted) {
        <!-- @if(emptyFields){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Please fill up the form correctly!
          </div>
        }
        @if(userExist){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            You already have an account please Sign In!
          </div>
        } -->
        @if(errorstatus===422){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Please fill up the form correctly!
          </div>
        }
        @if(errorstatus===403){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, password not found!
          </div>
        }
        @if(errorstatus===500){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, please try again later!
          </div>
        }
        @if(errorstatus===501){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, please try after sometime!
          </div>
        }
        @if(errorstatus===502){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, invalid password!
          </div>
        }
                
        <div data-mdb-input-init class="form-outline mb">
          <label class="form-label" for="form3Example4cg">Password</label>
          <input type="password" placeholder="Enter Password" id="form3Example4cg" class="form-control form-control-lg" required [(ngModel)]="user.password" name="password"/>
        </div>
                
        <div class="d-flex justify-content-center mb">
          <button  type="button" class="btn" (click)="authenticate()">Submit</button>
        </div>
                
      } @else {
          <!-- <h4 class="text-uppercase text-center" id="success">User was submitted successfully!</h4> -->
          <div class="alert alert-success " role="alert">
            <i class="fa-regular fa-circle-check" id="success_symbol"></i>
            Congratulations! Authentication successfull!
          </div>
          <div class="d-flex justify-content-center mb">
            <button class="btn" [routerLink]="['/']" >Home</button>
          </div>
          <div class="btn_cont">
            <button class="next_btn" [routerLink]="['/authentication/adminSignup']" >Admin Sign Up</button>
            <button class="next_btn" [routerLink]="['/authentication/adminSignin']" >Admin Sign In</button>
          </div>
          }
    </form>
    </div>  
  </section>