<section class="vh-100 bg-image">
    <div class="form_div">
      <div class="close">
        <button type="button" class="btn-close" aria-label="Close" [routerLink]="['/authentication/adminSignin/adminHome']"></button>
    </div>
    <form>
      @if (!submitted) {
        <h4 class="text-uppercase text-center">Enter Authentication Password</h4>
        <!-- @if(emptyFields){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Please fill up the form correctly!
          </div>
        }
        @if(userExist){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            You already have an account please Sign In!
          </div>
        } -->
        @if(errorstatus===422){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Please fill up the form correctly!
          </div>
        }
        @if(errorstatus===403){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, password not found!
          </div>
        }
        @if(errorstatus===500){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, please try again later!
          </div>
        }
        @if(errorstatus===501){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, please try after sometime!
          </div>
        }
        @if(errorstatus===502){
          <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
            Authentication failed, invalid password!
          </div>
        }
                
        <div data-mdb-input-init class="form-outline mb">
          <label class="form-label" for="form3Example4cg">Password</label>
          <input type="password" placeholder="Enter Password" id="form3Example4cg" class="form-control form-control-lg" required [(ngModel)]="user.password" name="password"/>
        </div>
                
        <div class="d-flex justify-content-center mb">
          <button  type="button" class="main_btn" (click)="authenticate()">Submit</button>
        </div>
                
      } @else {
        <h4 class="text-uppercase text-center">Update Authentication Password</h4>
          <!-- <h4 class="text-uppercase text-center" id="success">User was submitted successfully!</h4> -->
          <div class="alert alert-success " role="alert">
            <i class="fa-regular fa-circle-check" id="success_symbol"></i>
            Congratulations! Authentication successfull!
          </div>
          <!-- <div class="d-flex justify-content-center mb">
            <button class="btn" [routerLink]="['/']" >Home</button>
          </div> -->
          <form>
            @if(errorstatus===422){
                <div class="alert alert-danger" role="alert">
                  <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
                  Please fill up the form correctly!
                </div>
              }
              @if(errorstatus===500){
                <div class="alert alert-danger" role="alert">
                  <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
                  Authentication failed, please try again later!
                </div>
              }
              @if(errorstatus===501){
                <div class="alert alert-danger" role="alert">
                  <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
                  Authentication failed, please try after sometime!
                </div>
              }
              <div data-mdb-input-init class="form-outline mb">
                <label class="form-label" for="form3Example4cg">Enter New Password</label>
                <input type="password" placeholder="Enter Password" id="form3Example4cg" class="form-control form-control-lg" required [(ngModel)]="user.password" name="password"/>
              </div>
              <div data-mdb-input-init class="form-outline mb">
                <label class="form-label" for="form3Example4cg">Re-Enter New Password</label>
                <input type="password" placeholder="Re-Enter Password" id="form3Example4cg" class="form-control form-control-lg" [ngClass]="{
                  'is-invalid': passwordsMatch() === false,
                  'is-valid': passwordsMatch() === true
                }"required [(ngModel)]="user.re_password" name="password"/>
              </div>

              <div class="d-flex justify-content-center mb">
                <button type="button" class="main_btn" data-bs-toggle="modal" data-bs-target="#exampleModal1">Submit</button>
                <!-- <button  type="button" class="btn" (click)="authenticate()">Submit</button> -->
              </div>
          </form>
          <!-- <div class="btn_cont">
            <button class="next_btn" [routerLink]="['/authentication/adminSignup']" >Admin Sign Up</button>
            <button class="next_btn" [routerLink]="['/authentication/adminSignin']" >Admin Sign In</button>
          </div> -->
          }
    </form>
    </div>  
  </section>

  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="border:2px solid wheat; border-radius:.7rem">
      <div class="modal-content" style="background-color: rgba(31, 30, 30, 0.9); color:white">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Authentication Password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:white"></button>
        </div>
        <div class="modal-body">
          Are You Sure To Update Existing Authentication Password ? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="updatePassword()">Update Password</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="border:2px solid wheat; border-radius:.7rem">
      <div class="modal-content" style="background-color: rgba(31, 30, 30, 0.9); color:white">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Deletation Successful</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:white" [routerLink]="['/authentication/adminSignin/adminHome']"></button>
        </div>
        <div class="modal-body">
          Authentication Password Updated Successfully.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [routerLink]="['/authentication/adminSignin/adminHome']">Go To Admin Home</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>