<section class="vh-100 bg-image">
  <div class="form_div">
    <div class="close">
      <button type="button" class="btn-close" aria-label="Close" [routerLink]="['/']"></button>
  </div>
    <h2 class="text-uppercase text-center">Create an account</h2>
  <form>
    @if (!submitted) {
      <!-- @if(emptyFields){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
          Please fill up the form correctly!
        </div>
      }
      @if(userExist){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
          You already have an account please Sign In!
        </div>
      } -->
      @if(errorstatus===422){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
          Please fill up the form correctly!
        </div>
      }
      @if(errorstatus===420){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
          You already have an account, please Sign In!
        </div>
      }
      @if(errorstatus===500){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
          Signing up failed, please try again later!
        </div>
      }
      @if(errorstatus===501){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
          Could not create user, please try again!
        </div>
      }
      @if(errorstatus===502){
        <div class="alert alert-danger" role="alert">
          <i class="fa-solid fa-circle-exclamation" id="danger_symbol"></i>
          Creating user failed, please try again!
        </div>
      }
      <div data-mdb-input-init class="form-outline mb">
        <label class="form-label" for="form3Example1cg">Your Name</label>
        <input type="text" placeholder="Enter Name" id="form3Example1cg" class="form-control form-control-lg" required [(ngModel)]="user.name" name="name"/>
      </div>
              
      <div data-mdb-input-init class="form-outline mb">
        <label class="form-label" for="form3Example3cg">Your Email</label>
        <input type="email" placeholder="Enter Email" id="form3Example3cg" class="form-control form-control-lg" required [(ngModel)]="user.email" name="email"/>
      </div>
      
      <div data-mdb-input-init class="form-outline mb">
        <label class="form-label" for="form3Example4cg">Your Contact Number</label>
        <input type="contact_no" placeholder="Enter Contact Number" class="form-control form-control-lg" required [(ngModel)]="user.contact_no" name="contact_no"/>
      </div>

      <div data-mdb-input-init class="form-outline mb">
        <label class="form-label" for="form3Example4cg">Password</label>
        <input type="password" placeholder="Enter Password" id="form3Example4cg" class="form-control form-control-lg" required [(ngModel)]="user.password" name="password"/>
      </div>
              
      <div data-mdb-input-init class="form-outline mb">
        <label class="form-label" for="form3Example4cdg">Repeat your password</label>
        <input type="password" placeholder="Re-Enter Password" id="form3Example4cdg" class="form-control form-control-lg"
          [ngClass]="{
            'is-invalid': passwordsMatch() === false,
            'is-valid': passwordsMatch() === true
          }" required [(ngModel)]="user.confirmPassword" name="confirmPassword"/>
      </div>
              
      <div class="form-check d-flex justify-content-center mb">
          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
          <label class="form-check-label" for="form2Example3g">
            I agree all statements in <a href="#!" class="text-body"><u style="color: blue;">Terms of service</u></a>
          </label>
      </div>
              
      <div class="d-flex justify-content-center mb">
        <button  type="button" class="btn" (click)="saveUser()">Register</button>
      </div>
              
      <p class="text-center">Have already an account? <a [routerLink]="['/userSignin']" class="fw-bold text-body"><u style="color: blue;">Login here</u></a></p>
      <p class="text-center">Sign up as admin? <a [routerLink]="['/authentication']" class="fw-bold text-body"><u style="color: blue;">Click here</u></a></p>
    } @else {
        <!-- <h4 class="text-uppercase text-center" id="success">User was submitted successfully!</h4> -->
        <div class="alert alert-success " role="alert">
          <i class="fa-regular fa-circle-check" id="success_symbol"></i>
          Congratulations! Account created successfully!
        </div>
        <div class="d-flex justify-content-center mb">
          <button class="btn" [routerLink]="['/']" >Home</button>
        </div>
          <p class="text-center">Have already an account? <a [routerLink]="['/userSignin']" class="fw-bold text-body"><u style="color: blue;">Login here</u></a></p>
        }
  </form>
  </div>  
</section>